.thread-form .text-search,
.mceIframeContainer {
  border: 1px solid #e6e6e6;
  background: none;
  border-color: #e6e6e6 !important;
}
.thread-form .form-horizontal textarea,
.thread-form  .form-horizontal input[type="text"] {
  border: 1px solid #e6e6e6;
  background: none;
  border-color: #e6e6e6 !important;
}
.items-thread .form-horizontal textarea,
.items-thread  .form-horizontal input[type="text"] {
  border: 1px solid #e6e6e6;
  background: none;
  border-color: #e6e6e6 !important;
}
.wp-editor-container {
  border-color: #e6e6e6 !important;
  background: none;
}
.search-header input[type="text"] {
  background-color: #ffffff;
  border: 1px solid #ffffff;
}
body {
  background-color: #ffffff;
  background-image: url();
  background-repeat: repeat;
  font-family: Open Sans, Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #3b3b3b;
}
.search-header .btn,
#wp-link-1 .btn,
.upload-url .button-event .btn {
  background: #e64b21;
}
.search-header .btn:hover,
#wp-link-1 .btn:hover,
.upload-url .button-event .btn:hover {
  background: #d54018;
}
.search-header .btn:active,
#wp-link-1 .btn:active,
.upload-url .button-event .btn:active {
  background: #bf3a15;
}
.button-event .btn {
  background: #e64b21;
}
.button-event .btn:hover {
  background: #d54018;
}
.button-event .btn:active {
  background: #bf3a15;
}
.bg-header,
.dropdown-profile .head {
  background: #4F4F4F;
  color: #ffffff;
}
.dropdown-profile .arrow-up {
  border-bottom: 7px solid #4F4F4F;
}
.dropdown-profile .list-profile li a:hover,
.widget li a:hover {
  color: #e64b21;
}
.profile-account .name {
  border-left: 1px solid #424242;
}
.notice-noresult,
.list-post li.highlights,
.infor-profile,
.content-edit-profile .main-edit-profile,
.widget ul.category-items > li a.cat-item.current,
.dropdown-profile .content-profile {
  background-color: #f0f0f0;
}
.wp-editor-container .quicktags-toolbar,
.wp-editor-container .wp_themeSkin tr.mceFirst td.mceToolbar {
  background-color: #f0f0f0;
}
.text-search .btn-group .line {
  border-left: 1px solid #e6e6e6;
}
.single-thread .item-thread {
  border-top: 1px solid #e6e6e6;
}
.content-edit-profile .head-edit-profile .avatar,
.img-profile .avatar {
  border: 6px solid #f2f2f2;
}
.widget_calendar th,
.widget_calendar td {
  border: 1px solid #e6e6e6;
}
.pagination ul > li.next > a,
.pagination ul > li.prev > a,
.pagination ul > li > a.next,
.pagination ul > li > a.prev {
  border: #ffffff;
}
.pagination ul > li.active > a,
.pagination ul > li > a.current,
.pagination ul > li > span.current {
  background: #e64b21;
}
.pagination ul > li:hover > a {
  background-color: #f0f0f0;
  border: 1px solid #f2f2f2;
}
.nav-link li {
  border-top: 5px solid #F2F2F2;
  background-color: #F2F2F2;
}
.nav-link li.active {
  background-color: #ffffff;
  background-image: url();
  background-repeat: repeat;
  font-family: Open Sans, Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #3b3b3b;
}
ul#main_list_post,
ul.list-post,
.items-thread .linke-by {
  border-top: 1px solid #f2f2f2;
}
.skin-checkbox {
  background: #e6e6e6;
}
.side-bar h2,
.items-thread,
.thread-discuss-right h1 {
  border-bottom: 1px solid #f2f2f2;
}
.page-not .btn.back-home {
  background: #e64b21;
}
.page-not .btn.back-home:hover {
  background: #d54018;
}
.page-not .btn.back-home:active {
  background: #bf3a15;
}
.header-bottom,
.footer {
  background: #F2F2F2;
  color: #999999;
}
.footer .nav li a,
.nav-link li a {
  color: #3b3b3b;
}
.nav-link li.active a {
  color: #3b3b3b;
}
.footer .social li {
  border: 1px solid #F2F2F2;
  border-left: none;
  border-right: none;
}
.left-sidebar .container .col-md-9 {
  float: right;
}
.left-sidebar .container .col-md-3 {
  float: left;
}
.one-column .container .col-md-3 {
  display: none !important;
}
.one-column .container .col-md-9 {
  width: 100% !important;
}
.nav-link li.active {
  border-top: 5px solid #e64b21 !important;
}
.line-correct {
  border-left: 2px solid #e64b21 !important;
}
.list-post li.highlights .title a {
  color: #3b3b3b;
}
.tooltip-inner {
  background-color: #e64b21;
  color: #999999;
}
.tooltip.top .tooltip-arrow {
  border-top-color: #e64b21;
}
.tooltip.top-left .tooltip-arrow {
  border-top-color: #e64b21;
}
.tooltip.top-right .tooltip-arrow {
  border-top-color: #e64b21;
}
.tooltip.right .tooltip-arrow {
  border-right-color: #e64b21;
}
.tooltip.left .tooltip-arrow {
  border-left-color: #e64b21;
}
.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #e64b21;
}
.tooltip.bottom-left .tooltip-arrow {
  border-bottom-color: #e64b21;
}
.tooltip.bottom-right .tooltip-arrow {
  border-bottom-color: #e64b21;
}
.title-thread {
  font-family: Open Sans, Arial, Helvetica, sans-serif !important;
  font-size: 14px !important;
  font-style:  !important;
}
.widget .textwidget,
.widget_pages ul {
  background-color: #f0f0f0;
}
.widget h2 {
  border: 1px solid #e6e6e6;
  border-left: none;
  border-right: none;
  border-top: none;
}
.modal .modal-content,
#wp-link-1 .modal-content {
  border-top: 5px solid #e64b21;
}
.bubblingG span {
  background: #e64b21;
}
@-moz-keyframes bubblingG {
  0% {
    width: 10px;
    height: 10px;
    background-color: #e64b21;
    -moz-transform: translateY(0);
  }
  100% {
    width: 24px;
    height: 24px;
    background-color: #FFFFFF;
    -moz-transform: translateY(-21px);
  }
}
@-webkit-keyframes bubblingG {
  0% {
    width: 10px;
    height: 10px;
    background-color: #e64b21;
    -webkit-transform: translateY(0);
  }
  100% {
    width: 24px;
    height: 24px;
    background-color: #FFFFFF;
    -webkit-transform: translateY(-21px);
  }
}
@-ms-keyframes bubblingG {
  0% {
    width: 10px;
    height: 10px;
    background-color: #e64b21;
    -ms-transform: translateY(0);
  }
  100% {
    width: 24px;
    height: 24px;
    background-color: #FFFFFF;
    -ms-transform: translateY(-21px);
  }
}
@-o-keyframes bubblingG {
  0% {
    width: 10px;
    height: 10px;
    background-color: #e64b21;
    -o-transform: translateY(0);
  }
  100% {
    width: 24px;
    height: 24px;
    background-color: #FFFFFF;
    -o-transform: translateY(-21px);
  }
}
@keyframes bubblingG {
  0% {
    width: 10px;
    height: 10px;
    background-color: #e64b21;
    transform: translateY(0);
  }
  100% {
    width: 24px;
    height: 24px;
    background-color: #FFFFFF;
    transform: translateY(-21px);
  }
}
