.text-search .btn .caret{
	top: 13px !important;
}

.customizer-panel .btn{
	max-width: 39%;
}

.text-search .category-search-items{
	width: 176px;
}

.footer .fright.nav{
	text-align: right;
}

